@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  background: #191919;
  height: 100%;
  max-height: 104px;
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 64px 0;
}
header .header_contener {
  display: flex;
  width: 100%;
  max-width: 1320px;
  height: 100%;
  max-height: 104px;
  box-sizing: border-box;
  align-items: center;
  padding: 0 12px;
}
header .header_contener .navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: center;
}
header .header_contener .navigation .logo {
  height: 100%;
  max-width: 40px;
}
header .header_contener .navigation .logo a h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
header .header_contener .navigation .header_main_menu ul {
  display: flex;
  flex-direction: row nowrap;
}
header .header_contener .navigation .header_main_menu ul li {
  height: 100%;
  display: flex;
  list-style: none;
}
header .header_contener .navigation .header_main_menu ul li:not(:last-child)::after {
  align-self: center;
  content: "";
  background: #ffffff;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-radius: 20%;
  margin: 0 20px;
}
header .header_contener .navigation .header_main_menu ul li a {
  position: relative;
  display: block;
  height: 100%;
  color: #ffffff;
  font-family: "Fira Sans", sans-serif;
  font-size: 600;
  font-style: normal;
}
header .header_contener .navigation .header_main_menu ul li a:hover {
  color: #8E8E8E;
}
header .header_contener .navigation .header_main_menu ul li a:hover::after {
  width: 100%;
}
header .header_contener .navigation .header_main_menu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ededed;
  transition: all 0.1s ease;
}
header .header_contener .navigation .header_main_menu ul .we {
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background: #ffffff;
  border-radius: 1px;
}

.footer {
  width: 100%;
  background: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  margin-top: 150px;
}
.footer .footer_wreaper {
  display: flex;
  width: 100%;
  max-width: 1296px;
  margin: 0 24px;
  padding: 60px 0;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.footer .footer_wreaper .icon {
  height: 100%;
  width: 100%;
  max-width: 440px;
  display: flex;
  align-content: flex-start;
  margin-right: 24px;
}
.footer .footer_wreaper .icon img {
  width: 100%;
  max-width: 330px;
  align-self: flex-start;
}
.footer .footer_wreaper .even {
  height: 100%;
  width: 100%;
  max-width: 440px;
  align-self: stretch;
}
.footer .footer_wreaper .even h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  margin-bottom: 32px;
}
.footer .footer_wreaper .even ul {
  display: flex;
  flex-flow: row nowrap;
}
.footer .footer_wreaper .even ul li {
  list-style: none;
  margin-right: 20px;
}
.footer .footer_wreaper .even ul li a {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  position: relative;
}
.footer .footer_wreaper .even ul li a:hover {
  color: #8E8E8E;
}
.footer .footer_wreaper .even ul li a:hover::after {
  width: 100%;
}
.footer .footer_wreaper .even ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ededed;
  transition: all 0.1s ease;
}
.footer .footer_wreaper .contact {
  height: 100%;
  display: flex;
  width: 100%;
  max-width: 416px;
  align-content: center;
  flex-flow: column nowrap;
  align-self: stretch;
}
.footer .footer_wreaper .contact h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  margin-bottom: 32px;
}
.footer .footer_wreaper .contact ul {
  display: flex;
  flex-flow: column nowrap;
}
.footer .footer_wreaper .contact ul li {
  list-style: none;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 24px;
}
.footer .watermark {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
  margin: 35px 0;
  opacity: 0.5;
}

main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
main section {
  width: 100%;
  max-width: 1296px;
  margin: 0 24px;
}

.container {
  width: 100%;
  max-width: 1296px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 187px;
}
.container .main-image {
  width: 100%;
  height: 100%;
  max-width: 856px;
  overflow: hidden;
  height: 497px;
}
.container .main-image img {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}
.container .sidebar {
  width: 100%;
  max-width: 416px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
.container .sidebar .event {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 12px 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  max-height: 104px;
  overflow: hidden;
}
.container .sidebar .event img {
  object-fit: cover;
  width: 100%;
  max-width: 80px;
  height: 100%;
}
.container .sidebar .event p {
  font-family: Fira Sans;
  padding-left: 24px;
  font-size: 16px;
  color: #191919;
  font-weight: 600;
}
.container .sidebar .event:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.header_poster {
  font-family: arial;
  width: 100%;
  max-width: 1296px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}
.header_poster .h2_poster {
  font-size: 48px;
  color: #191919;
  font-weight: 700;
  line-height: 140%;
}
.header_poster .all_event {
  display: flex;
  align-items: center;
}
.header_poster .all_event img {
  padding: 2.5px;
}
.header_poster .all_event p {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  margin-left: 35px;
  color: #000;
}

.poster_block {
  font-family: Arial;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
.poster_block .poster_line {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding: 32px 0;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
  max-height: 304px;
  margin-bottom: 80px;
}
.poster_block .poster_line .data_poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 196px;
}
.poster_block .poster_line .data_poster .p_int {
  font-size: 64px;
  font-family: Arial;
  font-weight: 700;
  line-height: 140%;
}
.poster_block .poster_line .data_poster .p_string {
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  font-family: Arial;
}
.poster_block .poster_line .poster_img {
  width: 100%;
  max-width: 320px;
  height: 240px;
  overflow: hidden;
}
.poster_block .poster_line .poster_img img {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  height: 100%;
}
.poster_block .poster_line .description_poster {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  height: 240px;
  max-width: 415px;
}
.poster_block .poster_line .description_poster .name_poster {
  font-family: Arial;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  height: 60px;
  hyphens: none;
}
.poster_block .poster_line .description_poster .description {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  hyphens: none;
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.poster_block .poster_line .description_poster .poster_parametr {
  display: flex;
  flex-direction: row;
}
.poster_block .poster_line .description_poster .poster_parametr p {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.poster_block .poster_line .description_poster .poster_parametr img {
  margin-right: 20px;
}
.poster_block .poster_line .button_post {
  display: flex;
  align-items: center;
}
.poster_block .poster_line .button_post button {
  position: static;
  width: 175px;
  height: 51px;
  border-radius: 50px;
  background: rgb(5, 176, 147);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border: none;
  margin-right: 30px;
}
.poster_block .poster_line .button_post button:hover {
  background: rgb(4, 130, 109);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform 0.3s;
}

.h1_contact {
  font-size: 48px;
  width: 100%;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 100px;
}

.contact_block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.contact_block .contact_colum h2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 24px;
}
.contact_block .contact_colum p {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
}
.contact_block .contact_colum .contact_grafic {
  margin-bottom: 15px;
}
.contact_block .contact_general {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}

.map {
  width: 856px;
  height: 441px;
  margin: 0 auto;
  background-color: black;
  border-radius: 12px;
}

[class*=copyrights-pane] {
  display: none !important;
}

.news_wreaper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.news_wreaper .news {
  width: 100%;
  height: 100%;
  max-width: 656px;
}
.news_wreaper .news h2 {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 140%;
  color: #191919;
}
.news_wreaper .news .splide {
  width: 100%;
  height: 100%;
  height: 440px;
  left: -10px;
}
.news_wreaper .news .splide .splide__track {
  width: 100%;
  height: 100%;
}
.news_wreaper .news .splide .splide__track .splide__list {
  width: 100%;
  height: 100%;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide {
  width: 100%;
  height: 100%;
  max-width: 306px;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a {
  width: 100%;
  height: 100%;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container {
  width: 100%;
  max-width: 306px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: #e1e1e1;
  border-radius: 12px;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.5s ease;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container img {
  height: 204px;
  width: 306px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  background: #000;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container:hover img {
  height: 194px;
  filter: brightness(50%);
  transition: height, filter 0.5s ease;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container h3 {
  display: block;
  height: 100%;
  max-height: 67px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  overflow: hidden;
  width: 80%;
  color: #191919;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container:hover h3 {
  font-size: 26px;
  width: 85%;
  transition: font-size, width 0.3s ease;
}
.news_wreaper .news .splide .splide__track .splide__list .splide__slide a .splide__slide__container p {
  display: block;
  height: 100%;
  max-height: 70px;
  overflow: hidden;
  font-family: "Fira Sans" sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  width: 80%;
  color: #191919;
}

.h1_program {
  font-size: 48px;
  width: 100%;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 100px;
}

.program_block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.program_block .program_colum {
  width: 49%;
}
.program_block .program_colum h2 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 24px;
}
.program_block .program_colum p {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
  hyphens: none;
}
.program_block .program_colum .p_structure {
  line-height: 2;
}
.program_block .program_colum .img_poster {
  border-radius: 12px;
  width: 526px;
  height: 742px;
  object-fit: cover;
}
.program_block .program_colum .button_post {
  display: flex;
  align-items: center;
}
.program_block .program_colum .button_post button {
  position: static;
  width: 175px;
  height: 51px;
  border-radius: 50px;
  background: rgb(5, 176, 147);
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  border: none;
  margin-right: 30px;
}
.program_block .program_colum .button_post button:hover {
  background: rgb(4, 130, 109);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform 0.3s;
}
.program_block .program_colum .program_photo {
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  gap: 24px;
}
.program_block .program_colum .program_photo img {
  width: 306px;
  height: 210px;
  object-fit: cover;
}
.program_block .program_general {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

.calendar {
  width: 100%;
  max-width: 526px;
  height: 100%;
  display: flex;
  border-radius: 12px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  background-color: rgba(25, 25, 25, 0.05);
  overflow: hidden;
}
.calendar .img_cal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  height: 300px;
}
.calendar .img_cal img {
  position: absolute;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.calendar .img_cal p {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
  margin: 0 0 10px 30px;
}

.calendar-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.calendar-container .info {
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
.calendar-container .info .date_cal {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;
}
.calendar-container .info .date_cal .hidden {
  opacity: 0;
}
.calendar-container .info .date_cal h2 {
  color: #191919;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 140%;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.calendar-container .info .button_cal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 24px;
}
.calendar-container .info .button_cal button {
  background-color: #05b093;
  width: 48px;
  height: 48px;
  border: none;
  font-size: 24px;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}
.calendar-container .info .button_cal button:hover {
  background-color: rgb(4, 130, 109);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  transition: transform, background-color 0.3s ease;
}
.calendar-container .table_cal {
  text-align: center;
  height: 100%;
  min-height: 320px;
}
.calendar-container .table_cal .hidden {
  opacity: 0;
}
.calendar-container .table_cal table {
  border-collapse: separate;
  border-spacing: 4px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.calendar-container .table_cal table td {
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(25, 25, 25, 0.3);
  font-size: 16px;
  font-weight: 600px;
}
.calendar-container .table_cal table td:hover {
  background-color: #04826d;
  transition: background-color 0.5s ease;
}
.calendar-container .table_cal table td.days_of_week {
  background-color: #05b093;
}
.calendar-container .table_cal table .weekend {
  color: rgb(255, 100, 100);
}
.calendar-container .table_cal table .selected {
  background-color: #05b093;
  color: #000;
}
.calendar-container .table_cal table .prevMonth {
  color: gray; /* Делаем числа прошлого месяца серыми */
}

.short_anonc_header {
  font-family: arial;
  width: 100%;
  max-width: 1296px;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  justify-content: space-between;
}
.short_anonc_header .h2_anonc {
  font-size: 48px;
  color: #191919;
  font-weight: 700;
  line-height: 140%;
}
.short_anonc_header .all_event {
  display: flex;
  align-items: center;
}
.short_anonc_header .all_event img {
  padding: 2.5px;
}
.short_anonc_header .all_event p {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  margin-left: 35px;
  color: #000;
}

.short_anonc_main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.short_anonc_main .short_anonc_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}
.short_anonc_main .short_anonc_item div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  background: rgb(5, 176, 147);
  border-radius: 12px;
}
.short_anonc_main .short_anonc_item div .data_anonc {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.short_anonc_main .short_anonc_item div .mount_anonc {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  color: #fff;
}
.short_anonc_main .short_anonc_item .name_anonc {
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 140%;
  padding-right: 12px;
}

body {
  background: rgb(237, 237, 237);
}