{{ define "linePoster" }}
<div class="poster_line">
    <div class="data_poster">
        <p class="p_int">6</p>
        <p class="p_string">Мая</p>
    </div>
    <div class="poster_img">
        <img src="img/poster__image1.png" alt="poster__image1">
    </div>
    <div class="description_poster">
        <p class="name_poster">Антонио Вивальди. Времена года</p>
        <p class="description">Посвящение Фрэнку Синатре.</p>
        <div class="poster_parametr">
            <p class="type_poster">
                <img src="Icons/Janr.svg" alt="Janr">
                Джаз
            </p>
            <p class="type_poster">
                <img src="Icons/Time.svg" alt="Time">
                19:00
            </p>
            <p class="type_poster">
                <img src="Icons/age.svg" alt="age">
                6+
            </p>
        </div>
    </div>
    <div class="button_post">
        <button type="button">Заказать билет</button>
    </div>
</div>

{{ end }}