{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "afiha/css/main.css" %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div class="header_contener">
            <nav class="navigation">
                <div class="logo">
                    <a href="{% url "home" %}">
                        <img src="{% static "afiha/img/logo.svg" %} " alt="logo">
                    </a>
                </div>
                <div class="header_main_menu">
                    <ul>
                        {% for m in mainmenu %}
                            <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
            </nav>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </header>
        {% block content %} {% endblock content %}
    <footer class="footer">
        <div class="footer_wreaper">
            <div class="icon"><img src="{% static "afiha/img/logo.svg" %}" alt="icon"></div>
            <div class="even">
                <h3>Мероприятия</h3>
                <ul>
                    <li><a href="">Экскурсии</a></li>
                    <li><a href="">Концерты</a></li>
                    <li><a href="">Афиша</a></li>
                </ul>
            </div>
            <div class="contact">
                <h3>Контакты</h3>
                <ul>
                    <li>г. Санкт-Петербург, Невский пр., д.1</li>
                    <li>shangin67886788@gmail.com</li>
                    <li>8(880)055355</li>
                </ul>
            </div>
        </div>
        <div class="watermark">Сайт концертно-экскурсионных программ</div>
    </footer>
    <script type="text/javascript">
        var searchUrl = "{% url 'search' %}";
        var location_img = "{% static 'afiha/img/location.png' %}";
    </script>
    <script src="{% static "afiha/js/header.js" %}"></script>
</body>
</html>