.h1_contact {
    font-size: 48px;
    width: 100%;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 100px;
}

.contact_block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;

    .contact_1 {
        .adress_1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
        }
    }

    .contact_general {
        width: 30%;
        display: flex;
        
    }
}