.h1_contact {
    font-size: 48px;
    width: 100%;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 100px;
}

.contact_block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;

    .contact_colum {
        h2 {
            font-family: Arial;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            margin-bottom: 24px;
        }
        p {
            font-family: Fira Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 40px;
        }
        .contact_grafic {
            margin-bottom: 15px;
        }
    }

    .contact_general {
        width: 30%;
        display: flex;
        flex-flow: column nowrap;
    }
}
.map {
    width: 856px;
    height: 441px;
    margin: 0 auto;
    background-color: black;
    border-radius: 12px;
}
[class*="copyrights-pane"] {
    display: none !important;
}