.footer {
    width: 100%;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 386px;
    flex-flow: column nowrap;
    padding: 60px 0 32px 0;
    bottom: 0;
    margin-top: 150px;

    .footer_wreaper {
        display: flex;
        max-width: 1296px;
        margin: 0 12px;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items:stretch;

        .icon{
            height: 100%;
            width: (100%/3);
            display: flex;
            align-content: center;
            align-self: start;
            margin-right: 24px;

            img{
                width: 100%;
            }
        }

        .contact {
            height: 100%;
            display :flex;
            align-content: center;
            flex-flow: column nowrap;

        }
    }
}