.footer {
    width: 100%;
    background: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 386px;
    flex-flow: column nowrap;
    padding: 60px 0 32px 0;
    bottom: 0;
    margin-top: 150px;

    .footer_wreaper {
        display: flex;
        width: 100%;
        max-width: 1296px;
        margin: 0 12px;
        flex-flow: row nowrap;
        justify-content: space-between;

        .icon{
            height: 100%;
            width: 100%;
            max-width: 440px;
            display: flex;
            align-content: flex-start;
            margin-right: 24px;
            align-self: flex-start;

            img{
                width: 100%;
                max-width: 330px;
            }
        }

        .even {
            height: 100%;
            width: 100%;
            max-width: 440px;
            align-self: stretch;

            h3 {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 140%;
                color: #fff;
            }
             
            ul {

                li {
                    list-style: none;

                    a {
                        color: #fff;
                        font-family: "Fira Sans", sans-serif;
                        
                    }

                }

            }

        }

        .contact {
            height: 100%;
            display :flex;
            width: 100%;
            max-width: 416px;
            align-content: center;
            flex-flow: column nowrap;
            align-self: stretch;
        }
    }
}