.news_wreaper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;

    .news {
        width: 100%;
        max-width: 636px;
        height: 100%;

        h2 {
            margin-bottom: 20px;
        }

        .splide{
            width: 100%;
            height: 100%;
            max-height: 400px;

            .splide__track {
                width: 100%;
                height: 100%;
                max-height: 400px;

                .splide__list {
                    width: 100%;
                    height: 100%;
                    max-height: 400px;

                    .splide__slide {
                        width: 100%;
                        height: 100%;
                        max-height: 400px;
                        max-width: 306px;

                        a {
                            width: 100%;
                            height: 100%;
                            
                            .splide__slide__container {
                                width: 100%;
                                max-width: 306px;
                                height: 100%;
                                max-height: 420px;
                                overflow: hidden;

                                img {
                                    height: 204px;
                                    width: 306px;
                                    object-fit: cover;
                                    border-radius: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}