.header_poster {
    font-family: arial;
    width: 100%;
    display: flex;
    align-items:center;
    margin-bottom: 100px;
    justify-content: space-between;

    @media screen and (max-width: 1320px) {
        margin-bottom: 20px;
    }

    .h2_poster {
        font-size: 48px;
        color: #191919;
        font-weight: 700;
        line-height: 140%;

        @media screen and (max-width: 1320px) {
            font-size: 42px;
        }

        @media screen and (max-width: 903px) {
            font-size: 38px;
        }
    }
}


.poster_block {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 80px;
    margin-bottom: 155px;

    @media screen and (max-width: 1320px) {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        gap: 24px;
        margin-bottom: 60px;
    }

    @media screen and (max-width: 903px) {
        gap: 12px;
    }

    .poster_line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 32px 0;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100%;

        @media screen and (max-width: 1320px) {
            width: 416px;
            padding: 12px;
            gap: 24px;
            flex-flow: column nowrap;
        }

        @media screen and (max-width: 903px) {
            width: 315px;
            gap: 12px;
        }

        .data_poster {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 196px;
            
            .p_int {
                font-size: 64px;
                font-family: Arial;
                font-weight: 700;
                line-height: 140%;
            }

            .p_string {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                font-family: Arial;
            }

            @media screen and (max-width: 1320px) {
                flex-flow: row nowrap;
                .p_int, .p_string {
                    font-size: 32px;

                    &::after {
                        content: "-";
                        opacity: 0;
                    }
                }

            }

            @media screen and (max-width: 903px) {
                .p_int, .p_string {
                    font-size: 20px;
                }
            }
        }

        .poster_img {

            width: 100%;
            max-width: 320px;
            height: 240px;
            overflow: hidden;

            @media screen and (max-width: 1320px){
                width: 416px;
                height: 260px;
            }

            @media screen and (max-width: 903px) {
                width: 302px;
            }

            img {

                object-fit: cover;
                border-radius: 12px;
                width: 100%;
                max-width: 320px;
                height: 100%;
            }
        }

        .description_poster {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 100%;
            height: 240px;
            max-width: 415px;

            @media screen and (max-width: 1320px) {
                justify-content: flex-start;
                gap: 12px;
                height: auto;
            }

            @media screen and (max-width: 903px) {
                height: auto;
                justify-content: flex-start;
                gap: 8px;
            }

            .name_poster {
                font-family: Arial;
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                height: 90px;
                hyphens: none;

                @media screen and (max-width: 1320px) {
                    height: 70px;
                    font-size: 26px;
                }

                @media screen and (max-width: 903px) {
                    height: 45px;
                    font-size: 20px;
                }
            }

            .description {
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                hyphens: none;
                height: 90px;
                overflow: hidden;
                text-overflow: ellipsis;

                @media screen and (max-width: 1320px) {
                    height: 70px;
                    font-size: 16px;
                }

                @media screen and (max-width: 903px) {
                    height: 40px;
                    font-size: 14px;
                }
            }

            .poster_parametr {
                display: flex;
                flex-direction: row;
                gap: 30px;

                p {
                    display: flex;
                    align-items:center;
                    justify-content: flex-start;
                    font-size: 16px;

                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 8px;
                        }

                }

                
            }

        }

        .button_post {
            display: flex;
            align-items:center;

            button {
                position: static;
                width: 175px;
                height: 51px;
                border-radius: 50px;
                background: rgb(5, 176, 147);
                color: rgb(255, 255, 255);
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 140%;
                border:none;

                &:hover {
                    background: rgb(4, 130, 109);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    transform: translateY(-2px);
                    transition: transform 0.3s;
                }
            }
        }
    }
}