.header_poster {
    font-family: arial;
    max-width: 1296px;
    display: flex;
    align-items:center;
    margin-bottom: 100px;
    justify-content: space-between;

    .h2_poster {
        font-size: 48px;
        color: #191919;
        font-weight: 700;
        line-height: 140%;
    }

    .all_event {
        display: flex;
        align-items:center;
        gap: 35px;
        flex-flow: row nowrap;

        img {
            padding: 2.5px;
        }

        p {
            width: 220px;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}

.poster_block {
    font-family: Arial, Helvetica, sans-serif;
    width: 1296px;
    display: flex;
    align-items:center;
    flex-flow: column nowrap;

    @media screen and (max-width: 1320px) {
        width: 1320px;
    }

    .poster_line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        padding: 32px 0;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        height: 100%;
        max-height: 304px;
        margin-bottom: 80px;

        .data_poster {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 196px;
            
            .p_int {
                font-size: 64px;
                font-family: Arial;
                font-weight: 700;
                line-height: 140%;
            }

            .p_string {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                font-family: Arial;
            }
        }

        .poster_img {

            width: 100%;
            max-width: 320px;
            height: 240px;
            overflow: hidden;

            img {

                object-fit: cover;
                border-radius: 12px;
                width: 100%;
                max-width: 320px;
                height: 100%;
            }
        }
        .description_poster {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            width: 100%;
            height: 240px;
            max-width: 415px;
            .name_poster {
                font-family: Arial;
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                height: 60px;
                hyphens: none;
                
            }
            .description {
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 140%;
                hyphens: none;
                height: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .poster_parametr {
                display: flex;
                flex-direction: row;
                p {
                    display: flex;
                    align-items:center;
                    margin-right: 30px;
                }
                img {
                    margin-right: 20px;
                }
            }

        }

        .button_post {
            display: flex;
            align-items:center;
            button {
                position: static;
                width: 175px;
                height: 51px;
                border-radius: 50px;
                background: rgb(5, 176, 147);
                color: rgb(255, 255, 255);
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 140%;
                border:none;
                margin-right: 30px;
                &:hover {
                    background: rgb(4, 130, 109);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    transform: translateY(-2px);
                    transition: transform 0.3s;
                }
            }
        }
    }
}