.h1_program {
    font-size: 48px;
    width: 100%;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 100px;
    @media  (max-width: 910px) {
        line-height: 80%;
        margin-bottom: 35px;
    }
}

.program_block {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    @media  (max-width: 1250px) {
        flex-direction: column;
    }

    .program_colum {
        width: 49%;
        @media  (max-width: 910px) {
            width: 100%;
        }
        h2 {
            font-family: Arial;
            font-size: 24px;
            font-weight: 700;
            line-height: 140%;
            margin-bottom: 24px;
        }
        p {
            font-family: Fira Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 40px;
            hyphens: none;
        }
        .p_structure {
            line-height: 2;
        }
        .img_poster {
            border-radius: 12px;
            width: 90%;
            height: auto;
            object-fit: cover;
            @media  (max-width: 1250px) {
                margin-bottom: 20px;
            }
        }
        .button_post {
            display: flex;
            align-items:center;
            button {
                position: static;
                width: 175px;
                height: 51px;
                border-radius: 50px;
                background: rgb(5, 176, 147);
                color: rgb(255, 255, 255);
                font-family: Fira Sans;
                font-size: 16px;
                font-weight: 600;
                line-height: 140%;
                border:none;
                margin-right: 30px;
                &:hover {
                    background: rgb(4, 130, 109);
                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                    transform: translateY(-2px);
                    transition: transform 0.3s;
                }
            }
        }
        .program_photo {
            margin-top: 40px;
            display: flex;
            flex-flow: row nowrap;
            gap: 24px;
            @media  (max-width: 750px) {
                flex-flow: column;
            }
            img {
                width: 306px;
                height: 210px;
                object-fit: cover;
            }
        }
    }

    .program_general {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        @media  (max-width: 910px) {
            width: 100%;
        }
    }
}