.event_contener {
    width: 100%;
    max-width: 1296px;
    height: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 187px;

    .splide_event {

        .splite__track {

            .splide__list {

                .splide__slide {
                    
                    border-radius: 12px;

                    a {
                        width: 856px;
                        height: 464px;
                        overflow: hidden;
                         img {
                            width: 856px;
                            height: 464px;
                            object-fit: cover;
                         }
                    }
                }
            }
        }
    }

    .thumbnails {
        display: flex;
        gap: 16px;
        flex-flow: column nowrap;

        .thumbnail {
            cursor: pointer;
            max-width: 100%;
            width: 416px;
            height: 104px;
            display: flex;
            flex-flow: row nowrap;
            overflow: hidden;
            align-items: center;
            justify-content: flex-start;
            background-color: rgba(25, 25, 25, 0.05);
            border-radius: 8px;
            opacity: 0.3;

            &.is-active {
                opacity: 1;
            }


                img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                margin: 0 16px;
                border-radius: 8px;
                }
            
        }
    }
}