.event_contener {
    width: 100%;
    max-width: 1296px;
    height: 464px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 187px;

    .splide {

        .splite__track {

            ul {
                li {

                    a {

                         img {

                         }
                    }
                }
            }
        }
    }

    .thumbnails {
        display: flex;
        gap: 14px;
        flex-flow: column nowrap;

        .thumbnail {
            max-width: 100%;
            width: 416px;
        }
    }
}