{% extends "base.html" %}
{% load static custom_filters %}
{% block content %}
    <main>
        <section id="event">
            <div class="event_contener">
                <section id="main-carousel" class="splide splide_event">
                    <div class="splide__track">
                        <ul class="splide__list">
                            {% for s in slider %}
                                <li class="splide__slide">
                                    <a href="{{ s.get_absolute_url }}">
                                        <img src="{% static s.url_img %}" alt="">
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
                <ul class="thumbnails">
                    {% for th in slider %}
                        <li class="thumbnail">
                            <img src="{% static th.url_img %}" alt="">
                            <p>{{ th.title|truncatewords:10 }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <section id="poster">
            <div class="header_poster">
                <h2 class="h2_poster">Афиша</h2>
                <a href="{% url "search" %}">
                    <div class="all_event">
                        <img src="{% static "afiha/Icons/calendar.svg" %}" alt="calendar">
                        <p>Все Мероприятия</p>
                    </div>
                </a>
            </div>
            <div class="poster_block">
                {% for p in  posts %}
                
                {% include "afiha/includes/poster.html" %}
                    
                
                {% endfor %}
            </div>
        </section>
        <section id="newsCal">
            <div class="news_wreaper">
                <div class="news">
                    <h2>Новости</h2>
                    <div id="splideNews" class="splide splite_news" role="group">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for n in news %}
                                    <li class="splide__slide">
                                        <a href="{% url "news_id" n.id %}">
                                            <div class="splide__slide__container">
                                                <img src="{% static n.url_img %}" alt="">
                                                <h3>{{ n.title|truncatewords:5 }}</h3>
                                                <p>{{ n.content|truncatewords:11 }}</p>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div> 
                </div>
                <div class="calendar">
                    <div class="img_cal">
                        <img src="{% static "afiha/img/calendar__image.png" %}" alt="">
                        <p>Афиша дня</p>
                    </div>
                    <div class="calendar-container">
                        <div class="info">
                            <div class="date_cal">
                                <h2 id="month"></h2>
                                <h2 id="year"></h2>
                            </div>

                            <div class="button_cal">
                                <button id="prevMonth">&#8249;</button>
                                <button id="nextMonth">&#8250;</button>
                            </div>
                        </div>
                        <div class="table_cal">
                            <table id="calendar"></table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="anons">
            <div class="short_anonc_header">
                <h2 class="h2_anonc">Краткие анонсы</h2>
                <a href="{% url "search" %}">
                    <div class="all_event">
                        <img src="{% static "afiha/Icons/calendar.svg" %}" alt="calendar">
                        <p>Все Мероприятия</p>
                    </div>
                </a>
            </div>
            <div class="short_anonc_main">
                {% for ans in slider %}
                <div class="short_anonc_item">
                    <div>
                        <p class="data_anonc">{{ ans.time_creat.day }}</p>
                        <p class="mount_anonc">{{ ans.time_creat.month|month_name }}</p>
                    </div>
                    <p class="name_anonc">{{ ans.title|truncatewords:4 }}</p>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <script src="{% static "afiha/js/calendar.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="{% static "afiha/js/news.js" %}"></script>
    <script src="{% static "afiha/js/event.js" %}"></script>
{% endblock content%}