{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <section id="program">
            <h1 class="h1_program">{{ post.title }}</h1>
            <div class="program_block">
                <div class="program_colum program_general">
                    <img class="img_poster" src="{{ post.url_img.url }}" alt="Обложка поста">
                </div>
                <div class="program_colum ">
                    <h2>Санкт-Петербургский камерный оркестр Olympic Orchestra</h2>
                    <p class="p_structure">Солистка – Надежда Троицкая (скрипка)
                        <br>Дирижёр – Илья Филькенштейн
                        <br>Художественный руководитель - Алексей Степанов</p>
                    <p class="p_discription">
                        Музыка Вивальди на века!!! Изысканная роскошь, пышность и причудливая эстетика эпохи барокко в полной мере нашли воплощение в творчестве знаменитого венецианца Антонио Вивальди. Его называют «итальянским Бахом», и неспроста: за 63 года жизни музыкант написал около 800 произведений, включая оперы, хоровые произведения, более 500 концертов для различных инструментов и оркестра. Талантливый композитор-новатор, виртуозный скрипач, блестящий дирижер и педагог, он оставил после себя богатейшее творческое наследие.
<br><br>В первом отделении прозвучит знаменитый цикл «Времена года» Антонио Вивальди, второе же отделение будет посвящено мелодичным серенадам для струнного оркестра Эдуарда Элгара и Петра Ильича Чайковского.
                    </p>
                    <h2>Программа концерта</h2>
                    <p class="p_structure">
                        {{ post.content|linebreaks }}
                    </p>
                    <h2>Стоимость билетов</h2>
                    <p>700-1900 руб.</p>
                    <div class="button_post">
                        <button type="button">Заказать билет</button>
                    </div>
                    <div class="program_photo">
                        <img src="{{ post.url_img.url }}" alt="poster__image1">
                        <img src="{{ post.url_img.url }}" alt="poster__image1">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content%}